<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sell requests</title>
  <!-- Bootstrap Stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!--google fonts-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500;600;700;800&display=swap" rel="stylesheet">

  <!-- css links -->
  <link rel="stylesheet" href="css/styles-admin.css">
  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

<body>


  <h1>TwiceNice Admin</h1>
  <hr>
  <h2>Requests awaiting approval...</h2>
  <form action="/adminconfirm" method="post">
    <% var i=0 %>
  <% items.forEach(function(image) {  %>

    <div class="flex-container">


  <div class="flex-child image">
    <img class="req-img" src="data:image/<%=image.img.contentType%>;base64,
         <%=image.img.data.toString('base64')%>" alt="request image">
  </div>
  <div class="flex-child desc">
    <p>Title: <%= image.title %></p>
    <p>Author:<%= image.author %></p>
    <p>MRP:<%= image.mrp %></p>
    <p>Contact number:<%= image.phone %></p>
    <p>Email id:<%= image.email %></p>
    <p>Category:<%= image.category %></p>
    <h4>Status</h4>
    <input type="hidden" name="isbn<%=i%>" value=<%=image.isbn%> />
    <input type="radio" name="ans<%=i%>" value=1 />
    <label>Accept</label><br>
    <input type="radio" name="ans<%=i%>" value=0 />
    <label>Reject</label><br>
  </div>
    <% i= i+1 %>
</div>
<% }) %>
<button type="submit" name="button" value=<%=i%> >Submit</button>
</form>
  <!-- <form action="/adminconfirm" method="POST">

</form> -->

</body>

</html>
