<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Page</title>
  <!-- Bootstrap Stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!--google fonts-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500;600;700;800&display=swap" rel="stylesheet">

  <!-- css links -->
  <link rel="stylesheet" href="css/styles-admin.css">
  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- fontawesome-->
  	<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>
<body>

  <div class="modal fade" id="exampleModalCenterLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Login</h5>
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
        </div>
        <div class="modal-body">
          <form id="log-form">
            <div class="form-group">
              <input type="email" class="form-control" name="username" id="usernameL" placeholder="Your email address...">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name="password" id="passwordL" placeholder="Your password...">
            </div>
            <!-- <button type="button" class="btn btn-info btn-block btn-round">Login</button> -->
            <div class="modal-footer">
              <!-- <p>Not a member yet? then,<button class="btn btn-link" data-target="#exampleModalCenterRegister">Register youself here.</button></p> -->
              <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
              <button type="button" onclick="login()" class="btn btn-info">Login</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

  <a href="../"><i class="fas fa-chevron-circle-left fa-2x back-icon"></i></a>
  <h1><span class="badge badge-secondary">Admin</span></h1>
<hr>

<h2>Requests awaiting approval...</h2>


  <form action="/adminconfirm" method="post">

<div class="row container-fluid">
  <% var i=0 %>
  <% if(items.length <= 0){ %>
    <h2>No Pending Requests</h2>

<%  } else{%>
<% items.forEach(function(image) {  %>

  <div class="card book-card col-lg-6">
  <img src="data:image/<%=image.img.contentType%>;base64,
       <%=image.img.data.toString('base64')%>"  class="card-img-top req-img" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%=image.title %></h5>
    <p class="card-text"><%=image.description %></p>
    <p class="isbn-text">ISBN: <%=image.isbn %></p>
    <p style="text-transform: capitalize;"><i class="fas fa-quote-left icons"></i><%= image.author %></p>
    <p><i class="fas fa-rupee-sign icons"></i><%= image.mrp %></p>
    <p><i class="fas fa-mobile-alt icons"></i><%= image.phone %></p>
    <p><i class="fas fa-envelope icons"></i><%= image.email %></p>
    <p><i class="fas fa-quote-left icons"></i><%= image.category %></p>
    <p class="isbn-text">Posted On: <%=image.date %></p>
    <h4>Status</h4>
    <input type="hidden" name="isbn<%=i%>" value=<%=image.isbn%> />
    <input type="hidden" name="seller<%=i%>" value=<%=image.sellerId%> />
    <input type="radio" name="ans<%=i%>" value=1 />
    <label>Accept</label><br>
    <input type="radio" name="ans<%=i%>" value=0 />
    <label>Reject</label><br>
  </div>
    <% i= i+1 %>

  </div>
<% }) }%>

</div>
<button class="btn btn-info" type="submit" name="button" value=<%=i%> >Confirm</button>


</form>
  <!-- <form action="/adminconfirm" method="POST">

</form> -->

</body>

<script type="text/javascript">
    $(window).on('load', function() {
        $('#exampleModalCenterLogin').modal('show');
    });
    $('#exampleModalCenterLogin').modal({backdrop: 'static', keyboard: false})

    function login(){
      //alert("login Initiated");
      const form = document.getElementById('log-form')
    form.addEventListener('submit', loginUser(event));
  }

    async function loginUser(event) {
      event.preventDefault()
      const username = document.getElementById('usernameL').value
      const password = document.getElementById('passwordL').value

      const result = await fetch('/api/admin-login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          username,
          password
        })
      }).then((res) => res.json())

      if (result.status === 'ok') {
        // everythign went fine
        //console.log('Got the token: ', result.data)
        //localStorage.setItem('token', result.data)
        alert('Success')
        $('#exampleModalCenterLogin').modal('hide');
        //window.location = "http://localhost:3000";
      } else {
        alert(result.error)
      }
    }
</script>

</html>
