<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Collections</title>
  <!-- Bootstrap Stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!--google fonts-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500;600;700;800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Chewy&display=swap" rel="stylesheet">

  <!-- css links -->
  <!-- <link rel="stylesheet" href="../css/styles-cat.css"> -->
  <link rel="stylesheet" href="../css/styles-admin.css">
  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- fontawesome-->
	<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

</head>

<body>
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3><a href="/" class="head">TwiceNice</a></h3>
      </div>
    </nav>
        <div class="container-fluid">
            <h2><span class="badge badge-secondary"><%=catSelected%></span></h2>
        </div>

        <div class="row container-fluid">
          <% var i=0 %>
          <% if(items.length <= 0){ %>
            <h5 class="card-title">No Results</h5>

        <%  } else{%>
        <% items.forEach(function(image) {  %>

          <div class="card book-card col-lg-6">
          <img src="data:image/<%=image.img.contentType%>;base64,
               <%=image.img.data.toString('base64')%>"  class="card-img-top req-img" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%=image.title %></h5>
            <p class="card-text"><%=image.description %></p>
            <p class="isbn-text">ISBN: <%=image.isbn %></p>
            <p style="text-transform: capitalize;"><i class="fas fa-quote-left icons"></i><%= image.author %></p>
            <p class="mrp"><i class="fas fa-rupee-sign icons"></i><%= image.mrp %></p>
            <p class="buy">Want this book? contact below details.</p>
            <p><i class="fas fa-mobile-alt icons"></i><%= image.phone %></p>
            <p><i class="fas fa-envelope icons"></i><%= image.email %></p>
            <p><i class="fas fa-quote-left icons"></i><%= image.category %></p>

      <form id="book">
      <input type="hidden" name="isbn" id="isbn" value=<%=image.isbn%> />
      <input type="hidden" name="seller" id="seller" value=<%=image.sellerId%> />
      <!-- <button type="submit" id="wish" class="btn btn-info wish" onclick="wishlist()" name="button" value="Add to wishlist">Add to your Wishlist</button> -->
      <button type="submit" id="contact" class="btn btn-info wish" onclick="contact()" name="button">Know Contact details</button>


      </form>
      <!-- <button type="submit" id="wish" class="btn btn-info wish" onclick="wishlist()" name="button" value="Add to wishlist">Know Contact details</button> -->

  </div>

  </div>
  <% i= i+1 %>
  <% }) } %>

</body>

<script type="text/javascript">
function wishlist(){
const form = document.getElementById('book')
form.addEventListener('submit', addToList(event));
}

async function addToList(event) {
  event.preventDefault()
  const isbn = document.getElementById('isbn').value
  const seller = document.getElementById('seller').value
  // const userId = document.getElementById('user').value

  const result = await fetch('/api/wishlist', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({
      isbn,
      seller,
      // userId
    })
  }).then((res) => res.json())

  if (result.status === 'ok') {
    // everythign went fine
    alert('Added books to wishlist')
    $("#wish").removeClass("btn btn-info").addClass("btn btn-success");
    $("#wish").text( 'Added');
  } else if(result.status === 'notlogged'){
    alert(result.error);
    window.location = "http://localhost:3000/";
  }else{
    alert(result.error);
  }
}
</script>

</html>
