<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sell requests</title>
  <!-- Bootstrap Stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!--google fonts-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500;600;700;800&display=swap" rel="stylesheet">

  <!-- css links -->
  <link rel="stylesheet" href="css/styles-admin.css">
  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- fontawesome-->
	<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>

<body>

    <a href="../"><i class="fas fa-chevron-circle-left fa-2x back-icon"></i></a>
    <h1><span class="badge badge-secondary">My Uploads</span></h1>
  <hr>

  <h2>Status of Books you Uploaded</h2>
<div class="row container-fluid">
  <% var i=0 %>
<% items.forEach(function(image) {  %>

  <div class="card book-card col-lg-6">
  <img src="data:image/<%=image.img.contentType%>;base64,
       <%=image.img.data.toString('base64')%>"  class="card-img-top req-img" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%=image.title %></h5>
    <p class="card-text"><%=image.description %></p>
    <p class="isbn-text">ISBN: <%=image.isbn %></p>
    <p style="text-transform: capitalize;"><i class="fas fa-quote-left icons"></i><%= image.author %></p>
    <p><i class="fas fa-rupee-sign icons"></i><%= image.mrp %></p>
    <p><i class="fas fa-mobile-alt icons"></i><%= image.phone %></p>
    <p><i class="fas fa-envelope icons"></i><%= image.email %></p>
    <p><i class="fas fa-quote-left icons"></i><%= image.category %></p>
    <h4>Status</h4>
    <input type="hidden" name="isbn<%=i%>" value=<%=image.isbn%> />
    <%if(image.status === "true" ){ %>
      <% if(image.sold === false){ %>
      <h5 class="ac">Accepted!! </h5>
      <h7>Congrats! your book is listed in our collections. Look out for orders from our active buyers</h7>
      <form id="status-form">
        <input type="hidden" name="isbn" id="isbn" value= <%=image.isbn%> />
        <input type="hidden" name="user" id="seller" value= <%=user%> />
        <!-- <button type="button" onclick="login()" class="btn btn-info">Login</button> -->
        <!-- <% var iidd = "#sbtn"+image.isbn+user %>
        <p> <%=iidd%><p> -->
        <button type="button" onclick="sold()" class="btn btn-success" id="bstn" >Mark Sold</button>
      </form>
  <%  }else{ %>
    <h5 class="ac">Sold!!</h5>
    <h7>Hope you had a good experience with us.</h7>
  <% } %>
  <%  }else if(image.status === "reject"){ %>
      <h5 class="wa">Rejected!! </h5>
      <h7>Your Book probably has wrong information, you haven't uploaded a very clear image or your book might be not suitable for reuse</h7>
  <%  }else{%>
    <h5 class="wa">Waiting for approval.. </h5>
    <h7>Please be patient while our team reviews your request.</h7>

<%  } %>
<!-- <p><a href="#" class="btn btn-success">Mark as sold</a></p> -->

  </div>
    <% i= i+1 %>

  </div>
<% }) %>
</div>

  <!-- <form action="/adminconfirm" method="POST">

</form> -->

</body>
<script type="text/javascript">
function sold(){
// alert("in sold()");
const form = document.getElementById('status-form');

form.addEventListener('submit', markSold(event));
}

async function markSold(event) {
  // alert("in markSold()");
  event.preventDefault()
  const isbn = document.getElementById('isbn').value
  const seller = document.getElementById('seller').value
  // const userId = document.getElementById('user').value

  const result = await fetch('/sold', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({
      isbn,
      seller,
      // userId
    })
  }).then((res) => res.json())

  if (result.status === 'ok') {
    // everythign went fine

    const bId = "sbtn"+isbn+seller
    alert("Marked Sold");
    // $(bId).removeClass("btn btn-info").addClass("btn btn-success");
    // $(bId).text( 'Marked Sold');
    window.location = "http://localhost:3000/upload-status";
  }else{
    alert(result.error);
  }
}

</script>

</html>
